/* Fonts */
@font-face {
  font-family: "inter-regular";
  src: url("../fonts/Inter/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "inter-medium";
  src: url("../fonts/Inter/Inter_28pt-Medium.ttf");
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("../fonts/Inter/Inter_28pt-SemiBold.ttf");
}

@font-face {
  font-family: "inter-extra-bold";
  src: url("../fonts/Inter/Inter_28pt-ExtraBold.ttf");
}

:root {
  /* fonts */
  --inter-regular: inter-regular;
  --inter-medium: inter-medium;
  --inter-semi-bold: inter-semi-bold;
  --inter-extra-bold: inter-extra-bold;

  /* background colors */
  --background-color-darkblue: rgb(25, 86, 111);
  --background-color-white: rgb(255, 255, 255);

  /* font colors */
  --font-color-white: rgb(255, 255, 255);
  --font-color-darkblue: rgb(1, 58, 81);
  --font-color-lightblue: rgb(12, 145, 252);
  --font-color-lightgrey: rgb(148, 172, 182);

  /* line colors */
  --line-color: rgb(92, 135, 153);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: var(--inter-regular);
  line-height: 1.5;
  color: var(--font-color-white);
}

a {
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  background-color: var(--background-color-darkblue);
}

.top-bar {
  height: 50px;
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.top-bar > div {
  display: flex;
  align-items: center;
}

.top-bar__region {
  flex-grow: 1;
  gap: 0 6px;
}

.top-bar__schedule,
.top-bar__phone,
.top-bar__email {
  gap: 0 10px;
}

.nav {
  padding: 25px 0 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 30px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.nav__order-call {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__order-call a {
  width: 161px;
  background: linear-gradient(to right, #86b6e1, #5c9dd6);
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid rgb(162, 216, 255);
}
