/* Fonts */
@font-face {
  font-family: "inter-r";
  src: url("../fonts/Inter/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "inter-m";
  src: url("../fonts/Inter/Inter_28pt-Medium.ttf");
}

@font-face {
  font-family: "inter-sb";
  src: url("../fonts/Inter/Inter_28pt-SemiBold.ttf");
}

@font-face {
  font-family: "inter-eb";
  src: url("../fonts/Inter/Inter_28pt-ExtraBold.ttf");
}

:root {
  --background-color-darkblue: rgb(25, 86, 111);
  --background-color-white: rgb(255, 255, 255);
  --font-color-white: rgb(255, 255, 255);
  --font-color-darkblue: rgb(1, 58, 81);
  --font-color-lightblue: rgb(12, 145, 252);
  --font-color-lightgrey: rgb(148, 172, 182);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}
